@import "../tags.css";

.blog-posts-container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-post-card {

}

.blog-post-card-content {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    grid-template-areas:
    "hd hd hd hd hd hd hd tag"
    "dt dt dt dt dt dt dt dt"
    "ct ct ct ct ct ct ct ct"
    "ft ft ft ft ft ft ft ft";
}

.blog-post-card-footer {
    grid-area: ft;
    display: block;

}

.blog-post-card-title {
    grid-area: hd;
    margin-bottom: 2px;
    margin-top: 2px;
}

.blog-post-card-date {
    grid-area: dt;
    color: dimgrey;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
}

.tag {
    grid-area: tag;
}

.blog-post-card-summary {
    grid-area: ct;
    font-size: 1.1em;
}

.blog-post-card-read-more-button {
    border-radius: 8px;
    background-color: #3A405A;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.blog-post-card-read-more-button:before {
    content: "Read more";
}

.blog-post-card-read-more-button:hover {
    opacity: 0.8;
}

.blog-post-image {
    border-radius: 5px;
    width: 100%
}


@media only screen and (min-width: 820px) and (max-width: 1200px) {
    .blog-post-card {
        max-width: 600px;
    }
}

@media only screen
and (min-width: 1201px) {
    .blog-post-card {
        max-width: 800px;
    }

    .blog-post-card-footer {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
}
