.tag {
    border-radius: 15px; /* Add some roundness */
    padding: 5px 5px;
    display: inline;
    min-width: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
}

.music {
    background-color: #FF6B6B;
}

.music:before {
    content: "music";
}


.food {
    background-color: #3E8989;
}

.food:before {
    content: "food";
}

.nature {
    background-color: #EF9A5A;
}

.nature:before {
    content: "nature";
}

